/* styles/variables.css */
:root {
  --color-darkblue: #010101;
  --color-gold: #ffb937;
  --color-white: #F1F1F1;
  --color-footer: #111;

  --radius-xl: 18px;
  --shadow-lg: 0 6px 28px rgba(0,0,0,0.13);
}

